/*
Background -> bg-primary/5


*/
@tailwind utilities;

@layer utilities{
    .app-bg {
        background-color: #f0f0f0;
        // @apply bg-zinc-200 bg-opacity-50
    }
    
    .app-highlighted-bg {
        background-color: rgba(0, 0, 0, 0.04);
        // @apply bg-zinc-200 bg-opacity-50
    }
}

body.dragging {
    user-select: none;
    * {
      cursor: move !important;
    }
}

pre {
    @apply text-sm
}
