/* Stretch editor to fit inside its containing div */
.editor {
    height: 100%;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 8px;  // This should be set from parent
    border-bottom-right-radius: 8px;  // This should be set from parent
}

.cm-editor {
    height: 100%;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 8px;  // This should be set from parent
    border-bottom-right-radius: 8px;  // This should be set from parent

    &.cm-focused {
        outline: none;
    }

    .cm-gutters {
        border-bottom-left-radius: 8px;  // This should be set from parent
        background: none;
        padding-left: 12px;
        padding-right: 12px;
        border: none;

        .cm-activeLineGutter {
            background: none;
            color: black;
        }
    }
}